<h1>Welcome to the Family Website!</h1>
<h2>This is the about page:</h2>
<p>This page is the about pages, where information about the site and anything else will be listed.
Creation Date: 12/15/14-12/19/14
Where: HU School of Business
</p>
